DirectoryIndex index.php index.html

<IfModule mod_rewrite.c>
    RewriteEngine On

    # No reescribir si el recurso existe físicamente
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Front controller
    RewriteRule ^ index.php?url=$0 [QSA,L]

    # Bloquear acceso directo a carpetas internas
    RewriteRule ^(config|controllers|models|views|libs|functions|bd)/ - [F,L,NC]

    # Bloquear archivos sensibles
    RewriteRule (^|/)\. - [F,L]
    RewriteRule \.(sql|ini|log|env)$ - [F,L,NC]
</IfModule>
